In [1]:
import pandas as pd
import sklearn as sklearn
import numpy as np

In [2]:
data=pd.read_csv('Hospital100.csv',sep=';')
data.head(n=5)

,numER,mLOSmbed2,mLOSmbed3,sLOSmbed2,sLOSmbed3,numPOB,edMV,iMAmbed1,iMAmbed2,iMAmbed3,...,f1EDLWBS,f2EDRMBLKD,f3tEDd,f4tEDa,f5pSUc,f6tSUc,f7nCUo,f8nPCUo,f9nACUo,yOEE1c
0,18,28782.00,111264.00,23.49,87648.0,5,38.33,10,9,30,...,0.0,0.014368,3524116,45542,0.999920,3435948,30485080,2818658.0,11318836.0,0.810797
1,19,27054.00,92256.00,29106.00,72096.0,6,39.41,10,11,34,...,0.0,0.013803,3520346,4519388,0.882746,3260574,26854060,1516530.0,1071032.0,0.812715
2,15,30.51,120.48,22734.00,90528.0,5,27.71,12,13,38,...,0.0,0.012293,353696,4536282,0.617448,1308778,32135080,15645640.0,1474038.0,0.813276
3,17,24462.00,110112.00,21762.00,103.2,7,41.57,9,12,31,...,0.0,0.017208,3514304,4626366,0.959863,4002396,26565160,1726320.0,197441.4,0.805383
4,12,24894.00,102048.00,27918.00,101472.0,6,35.45,10,10,24,...,0.0,0.076568,3533516,724904,0.999920,2768574,29818520,6910440.0,516125.6,0.697127

In [5]:
x_train0=data.iloc[:80,:25]
x_test0=data.iloc[80:,:25]
y_train0=data.iloc[:80,25:]
y_test0=data.iloc[80:,25:]

In [6]:
y_test0

      yOEE1c
80  0.813806
81  0.810644
82  0.795894
83  0.809038
84  0.809323
85  0.812660
86  0.810551
87  0.810331
88  0.809146
89  0.808519
90  0.813935
91  0.813486
92  0.062002
93  0.813524
94  0.129198
95  0.811204
96  0.804030
97  0.806900
98  0.813893
99  0.815051

In [7]:
from sklearn.preprocessing import StandardScaler
x_train=StandardScaler().fit_transform(x_train0)
x_test=StandardScaler().fit_transform(x_test0)
y_train=StandardScaler().fit_transform(y_train0)
y_test=StandardScaler().fit_transform(y_test0)

C:\Users\Usuario\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Usuario\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Usuario\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Usuario\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [9]:
y_test

array([[ 0.35009265],
       [ 0.33536027],
       [ 0.2666477 ],
       [ 0.32787855],
       [ 0.32920719],
       [ 0.34475202],
       [ 0.33492889],
       [ 0.33390213],
       [ 0.32838261],
       [ 0.32545887],
       [ 0.35069081],
       [ 0.34859817],
       [-3.15226594],
       [ 0.34877799],
       [-2.8392299 ],
       [ 0.33796816],
       [ 0.30454732],
       [ 0.31791659],
       [ 0.35049515],
       [ 0.35589075]])

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [22]:
reg=RandomForestRegressor(n_estimators=20, random_state=0)
x_train,y_train=make_regression(n_features=4, n_informative=2, random_state=0, shuffle=False)
reg = RandomForestRegressor(max_depth=2, random_state=0,n_estimators=100)
reg.fit(x_train,y_train)
y_pred = reg.predict(x_train)

In [23]:
y_pred

array([ 29.61901976, -11.02118762,  14.62139516,   9.80192217,
         0.49423187,   6.4746029 , -20.32548943,  60.07190209,
       -43.63959083,  57.75151636, -42.08374658, -29.21899598,
       -26.87520041, -35.5562676 ,  13.00221212, -30.27667951,
       -15.30998867, -15.07085954, -14.3798838 , -32.77944477,
        17.75011607,  60.75235947,  32.39695083,  34.89481082,
        41.82746706, -15.81990323,  38.35651914,  61.7155606 ,
        39.8305456 ,   0.21346688, -18.52788719, -15.07085954,
        20.03487674, -15.07085954,  -2.64590913,   6.29322227,
        53.24909298, -31.72005631, -32.77944477, -11.61409181,
        39.8305456 ,  15.42240915,  20.19566646, -11.02118762,
       -32.77944477, -39.77817286, -27.75309607,  39.8305456 ,
       -29.94592506,  28.81337665, -27.04219045, -27.75309607,
        -2.98099169, -10.23166651,  12.18025706, -30.52121188,
       -16.64428086, -27.76253299,  12.5021081 , -21.88133368,
       -29.93933852, -40.90011089, -43.63959083, -15.69533437,
       -41.08038876, -32.77944477,  -6.20818992,  -8.66506067,
        28.59436108,  -2.30572014,  32.89788936,  17.79461147,
        47.23059518, -11.02118762,  17.79461147,  37.70653973,
       -11.89244448,  -0.85142976, -32.77944477, -23.94425492,
       -32.77944477, -30.52121188,  21.83863007, -15.04016346,
         5.71482632,  -9.18394963, -28.51295606,  15.39850958,
       -11.02118762, -32.40402309,  -0.85142976,   5.00684534,
       -31.66890516,  -7.69516062, -27.75309607,   0.42991065,
       -35.78873883,  15.97409317, -42.33737493,  49.89924108])

In [24]:
y_train

array([ 49.82290745,   4.87728597,  11.91487464,  19.75307803,
        23.60700003, -29.98278439,  -3.18275233,  81.61798896,
       -85.87627478,  66.296663  , -70.00907918, -25.41289672,
       -40.341885  , -50.80958638,  11.69850317, -26.06617118,
       -10.09289693, -16.81772822, -18.84474658, -37.62388016,
         6.90439112,  95.27998841,  14.08815923,  37.63961941,
        61.23802841,  -7.46245465,  42.37309217,  89.99454831,
        47.61800511,  14.11477091, -29.85246699, -19.3463247 ,
        27.69980617, -12.73102933,   4.69818239, -15.54546881,
        81.10896741, -42.73831876, -43.50103947, -13.81361736,
        55.72588193,   3.73964726,  35.17541383,  -4.68693299,
       -40.02555297, -54.23600024, -41.92953467,  37.56912025,
       -40.71853261,  43.95479823, -15.74495171, -42.13327197,
         2.38253778,   0.17626991,  12.60675473, -31.41170946,
       -29.41293009, -20.37016177,   3.09183413, -40.10546979,
       -26.63729755, -63.60114181, -66.77520312,  -8.00243526,
       -62.13849458, -41.68036152, -33.22843061,  -3.04264873,
        53.41069146,   6.15068883,  32.59386934,  26.6719395 ,
        58.61984841,  10.99216958,  21.92203341,  29.88418279,
        -2.08694047,   8.76446094, -48.058451  , -10.66707421,
       -42.5262156 , -34.38791803,  17.79006328, -24.60719319,
       -20.57401167,   6.40418112, -18.61524357,  23.80290271,
         4.40414106, -54.10114237,  14.44189199,   5.17752156,
       -44.0304289 ,   8.72306551, -40.48486858, -21.5649097 ,
       -55.81801122,  39.38582014, -62.477272  ,  56.57212904])

In [25]:
from sklearn.metrics import r2_score
r2_score(y_train, y_pred)

0.8435830500065526

In [26]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_train, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_train, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_train, y_pred)))

Mean Absolute Error: 12.672871643060946
Mean Squared Error: 232.4546273335677
Root Mean Squared Error: 15.246462781037694

In [27]:
from sklearn.model_selection import cross_validate
from sklearn.metrics.scorer import make_scorer
from sklearn.metrics import confusion_matrix

In [29]:
cv_results = cross_validate(reg, x_test, y_test, cv=3)
sorted(cv_results.keys()) 
cv_results['test_score']

C:\Users\Usuario\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Usuario\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Usuario\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

array([-168.05512984,    0.38283916,    0.49919544])